@import './reset';
@import './variables';


@function weights($weight-name) {
    @return map-get($font-weights ,$weight-name )
}


body{
    background: $primary-color;
    color: $text-color;
}
.main{
    width: 80%;
    margin: 0 auto;

    #{&}_paragraph{
        font-weight:weights(bold);

        &:hover{
            color: $accent-color;
        }
    }
}